body {
  font-family: "PT Mono", monospace;
  background-color: #f8f2f2;
}

a {
  color: #232323;
}
a:hover {
  background-color: #232323;
  color: #f8f2f2;
}

h1 {
  font-family: "Staatliches", sans-serif;
  display: inline;
  padding-left: 10px;
}

iframe {
  display: none;
  border: 0;
  width: 100%;
  height: 120px;
}

footer {
  padding-top: 25px;
}

::selection {
  background-color: #232323;
  color: #f8f2f2;
}

.nav {
  margin-bottom: 10px;
  position: relative;
  display: inline-flex;
  rotate: 4deg;
}

.nav-link {
  color: #232323;
  font-family: "Staatliches", monospace;
  font-weight: bold;
}
.nav-link:hover {
  color: #f8f2f2;
}

.body {
  padding-top: 50px;
  font-size: 100%;
}

.bold {
  font-weight: bold;
}

#name {
  color: #f8f2f2;
  background-color: #232323;
  position: absolute;
  z-index: 1;
}

#home {
  color: #f8f2f2;
  background-color: #232323;
  text-decoration: none;
}

#header-line {
  background-color: #232323;
  rotate: 4deg;
  position: relative;
  z-index: -2;
  width: 100%;
  height: 15px;
}

#footer-line {
  background-color: #232323;
  rotate: -4deg;
  position: relative;
  z-index: -2;
  width: 100%;
}

#photo {
  width: 100%;
}

#words {
  display: none;
}

#sounds {
  display: none;
}

#code {
  display: none;
}

#editorial {
  display: none;
}

@media (orientation: portrait) and (max-aspect-ratio: 1/1) {
  #name {
    rotate: -4deg;
    padding: 10px;
    margin-top: 5%;
    margin-left: 5%;
  }
  .nav-link {
    font-size: 20px;
  }
  .nav {
    padding-left: 5%;
  }
  .body {
    padding-left: 12%;
    padding-right: 10%;
  }
}
@media (orientation: portrait) and (max-aspect-ratio: 45/100) {
  .nav {
    padding-top: 25%;
  }
}
@media (min-aspect-ratio: 45/100) and (max-aspect-ratio: 3/5) {
  .nav {
    padding-top: 20%;
  }
}
@media (min-aspect-ratio: 3/5) and (max-aspect-ratio: 7/10) {
  .nav {
    padding-top: 18%;
  }
}
@media (min-aspect-ratio: 7/10) and (max-aspect-ratio: 4/5) {
  .nav {
    padding-top: 16%;
  }
}
@media (min-aspect-ratio: 4/5) and (max-aspect-ratio: 1/1) {
  .nav {
    padding-top: 15%;
  }
}
@media (orientation: landscape) and (min-aspect-ratio: 1/1) {
  #name {
    writing-mode: vertical-lr;
    rotate: 186deg;
    font-size: 4.5em;
    padding: 20px 10px 20px 10px;
  }
  .nav-link {
    font-size: 25px;
  }
  .nav {
    padding-top: 50px;
  }
}
@media (orientation: landscape) and (max-aspect-ratio: 6/5) {
  .nav {
    padding-left: 22%;
  }
  .body {
    padding-left: 22%;
    padding-right: 15%;
  }
}
@media (min-aspect-ratio: 12/10) and (max-aspect-ratio: 7/5) {
  .nav {
    padding-left: 20%;
    margin-bottom: 15px;
  }
  .body {
    padding-left: 20%;
    padding-right: 15%;
  }
}
@media (min-aspect-ratio: 7/5) and (max-aspect-ratio: 8/5) {
  .nav {
    padding-left: 18%;
    margin-bottom: 20px;
  }
  .body {
    padding-left: 18%;
    padding-right: 15%;
  }
}
@media (min-aspect-ratio: 8/5) and (max-aspect-ratio: 9/5) {
  .nav {
    padding-left: 16%;
    margin-bottom: 25px;
  }
  .body {
    padding-left: 16%;
    padding-right: 15%;
  }
}
@media (min-aspect-ratio: 9/5) and (max-aspect-ratio: 2/1) {
  .nav {
    padding-left: 14%;
    margin-bottom: 35px;
  }
  .body {
    padding-left: 14%;
    padding-right: 15%;
  }
}
@media (min-aspect-ratio: 2/1) and (max-aspect-ratio: 21/9) {
  .nav {
    padding-left: 13%;
    margin-bottom: 40px;
  }
  .body {
    padding-left: 13%;
    padding-right: 15%;
  }
}
@media (min-aspect-ratio: 21/9) {
  .nav {
    padding-left: 13%;
    margin-bottom: 50px;
  }
  .body {
    padding-left: 13%;
    padding-right: 15%;
  }
}

/*# sourceMappingURL=styles.css.map */
